<!-- create_debtor.html e update_debtor.html -->
{% extends "components/base_template.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-header bg-dark text-white text-center">
                    <h2 class="mb-0">{% if object %}Editar{% else %}Cadastrar{% endif %} Devedor</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.name.label_tag }}
                            {{ form.name }}
                        </div>
                        <div class="mb-3">
                            {{ form.nickname.label_tag }}
                            {{ form.nickname }}
                        </div>
                        <div class="mb-3">
                            {{ form.value.label_tag }}
                            {{ form.value }}
                        </div>
                        <div class="mb-3">
                            {{ form.last_payment_date.label_tag }}
                            {{ form.last_payment_date }}
                        </div>
                        <button type="submit" class="btn btn-success w-100">
                            {% if object %}Atualizar{% else %}Cadastrar{% endif %}
                        </button>
                        <a href="{% url "pagme:list_debtors" %}" class="btn btn-secondary w-100 mt-3">Voltar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}